html {
  background-image: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
  linear-gradient(127deg, black, rgb(66, 66, 66) 70.71%),
  linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
              }         

              h1 {
  color: rgba(196, 255, 119, 0.603);
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 30px;
}

a:active {
    color: rgb(255, 1, 200);
}

.video-cotainer {
  padding: 20px;
  background-color: transparent;
  display: flex;
  justify-content: center;

}

#message{
  width: 300px;
  height: 5OOpx;
}

.container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}
